/* width */
::-webkit-scrollbar {
width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
background: #011E2E;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #064e75;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555;
}

.main-body{
    margin-top: 30px;
    background: #123244;
    border-radius: 20px;
    height: 60vh;
    padding: 20px;
    width: 350px;
    position: relative;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    overflow-x: hidden;
    overflow-y: auto;
}

.enter_bar input{
    background: #011E2E;
    color: #A4A4A4;
    border-radius: 5px;
    border: 2px solid #a4a4a4;
    padding: 10px 5px;
    width: 300px;
    padding-left: 20px;
    font-size: 15px;
}

.enter_bar img{
    position: absolute;
    right: 44px;
    top: 30px;
    width: 22px;
    cursor: pointer;
}

.todo-bar{
    margin-top: 20px;
}
.todo-bar .todo{
    background: #011E2E;
    color: #c9c9c9;
    border-radius: 5px;
    /* border: 2px solid #a4a4a4; */
    padding: 10px 5px;
    width: 300px;
    padding-left: 20px;
    font-size: 15px;
    position: relative;
    margin-bottom: 10px;
}
.todo-bar .todo img,
.todo-bar .todo label{
    position: absolute;
    right: 12px;
    top: 7px;
    width: 22px;
    cursor: pointer;
}
.todo-bar .todo label{
    right: 41px;
    width: 21px;
    top: 8px;
}
.todo-bar .todo label input{
    position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #ff0000;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: inset 0px 0px 0px 2px #123244;
  }
  /* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #50fc00;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  /* .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  } */