*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nova Square', cursive;
}

body{
  font-family: 'Poppins';
  background: #011E2E;
  color: #ffffff;
  padding: 50px;
}

h1 {
  font-weight: 500;
}